        <div class="element" >
            {% if element.balise == 'img' %}
                <img src="{{element.src}}" alt="{{element.alt}}" {% if element.class != '' %} class="{{element.class}}" {% endif %}>
            {% endif %}
            <{{element.balise}} {% if element.class != '' %} class="{{element.class}}" {% endif %}> {{element.contenu}} </{{element.balise}}>
            <a href="index.php?page=element&action=delete&id={{element.id}}">Delete</a>
            <a href="index.php?page=element&action=read&id={{element.id}}">En savoir plus</a>
            <form method="post" action="index.php?page=element&action=update&id={{element.id}}">
                <input type="text" name="balise" value="{{element.balise}}">
                <input type="text" name="contenu" value="{{element.contenu}}">
                <input type="text" name="class" value="{{element.class}}">
                <input type="text" name="src" value="{{element.src}}">
                <input type="text" name="alt" value="{{element.alt}}">
                <input type="submit" value="Update">
            </form>
        </div>