        <div class="admin-toolbar">
            <ul class="admin-toolbar-liste">
                <li class="admin-toolbar-liste-item">
                    <a href="{{site_url}}admin/update" class="admin-toolbar-liste-item-link">Update</a>
                </li>
                <li class="admin-toolbar-liste-item">
                    <a href="{{site_url}}admin/category" class="admin-toolbar-liste-item-link">Categories</a>
                </li>
                <li class="admin-toolbar-liste-item">
                    <a href="{{site_url}}admin/article" class="admin-toolbar-liste-item-link">Articles</a>
                </li>
                <li class="admin-toolbar-liste-item">
                    <a href="{{site_url}}admin/block" class="admin-toolbar-liste-item-link">Blocks</a>
                </li>
                <li class="admin-toolbar-liste-item">
                    <a href="{{site_url}}admin/element" class="admin-toolbar-liste-item-link">Elements</a>
                </li>
                <li class="admin-toolbar-liste-item">
                    <a href="{{site_url}}admin/files" class="admin-toolbar-liste-item-link">Files</a>
                </li>
            </ul>
        </div>