<nav>
	<ul>
		<li><a href="{{site_url}}">Home</a></li>
		<li><a href="{{site_url}}category">présentation catégories</a></li>
		<li><a href="{{site_url}}article">Articles</a></li>
		<li><a href="{{site_url}}article?action=readbycat&id=1">Présentation article</a></li>
		<li><a href="{{site_url}}{% if is_connected %}login?action=logout{% else %}login{% endif %}">{% if is_connected %}{{admin_name}}{% else %}Login{% endif %}</a></li>
	</ul>
</nav>
