<div class='container-card' >
{% for category in category %}
  <div class="category card {{category.class}}" >
    {% if category.files %}
      <img src="{{site_url}}public/img/uploads/{{category.files}}" alt="{{category.files}}">
    {% endif %}
    <div class="content">
        <h1>{{category.name}} - {{ category.articles|length }}</h1>
        <p class="line-clamp">{{category.description}}</p>
        <a href="{{site_url}}category?id={{category.id}}">Découvrir la catégorie</a>
    </div>
  </div>
{% endfor %}
</div>