<div class="element">
    {% if element.tags == 'figure' %}
      <figure>
        <img src="public/img/uploads/{{element.files}}" alt="{{element.files}}" {% if element.class != '' %} class="{{element.class}}" {% endif %}/>
        <figcaption>{{element.content}}</figcaption>
      </figure>
    {% elseif element.tags == 'img' %}
      <img src="public/img/uploads/{{element.files}}" alt="{{element.files}}" {% if element.class != '' %} class="{{element.class}}" {% endif %}/>
    {% elseif element.tags == 'video' %}
      <video controls>
        <source src="public/img/uploads/{{element.files}}" type="video/mp4">
      </video>
    {% elseif element.tags == 'audio' %}
      <audio controls>
        <source src="public/img/uploads/{{element.files}}" type="audio/ogg">
      </audio>
    {% elseif element.tags == 'a' %}
      <a href="{{element.link}}" {% if element.class != '' %} class="{{element.class}}" {% endif %}> {{element.content}} </a>
    {% else %}
      <{{element.tags}} {% if element.class != '' %} class="{{element.class}}" {% endif %}> {{element.content}} </{{element.tags}}>
    {% endif %}
    {# <a href="element?action=delete&id={{element.id}}">Delete</a>
    <a href="element?action=read&id={{element.id}}">En savoir plus</a> #}
</div>