<nav>
  <ul>
    {% for article in article %}
      <li>
        <a href='#' class='article-{{article.id}}'>
          <img src='{{site_url}}public/src/icons/{{article.name}}'>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
<pre>
</pre>
<div class="article-container">
  {% for article in article %}
    {% for cat in article.category %}
      <div class="article-category" style="background-image: url('{{site_url}}public/src/uploads/{{cat.files}}'); background-size: cover; background-repeat: no-repeat;">
        <h1>{{cat.name}}</h1>
      </div>
    {% endfor %}
    <div class="article full {{article.class}}" >
      <div class="article-info">
        <h2>{{article.title}}</h2>
        <h4>{{article.subtitle}}</h4>
      </div>
      {% for blocks in article.blocks %}
        {% include "display/display_blocks.html.twig" %}
      {% endfor %}
    </div>
  {% endfor %}
</div>