<nav class="nav-article">
  <ul>
    {% for article in article.category.articles %}
      <li>
        <a href='#' class='article-{{article.id}}' title="{{article.catchphrase}}">
          <img src='{{site_url}}public/src/icons/{{article.name}}'>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
<div class="article-category" style="background-image: url('{{site_url}}public/src/uploads/{{article.category[0].files}}'); background-size: cover; background-repeat: no-repeat;">
  <h1>{{article.category[0].name}}</h1>
</div>
<div class="article-container">
  {% for article in article.category.articles %}
    <div class="article full {{article.class}}" >
      <div class="article-info">
        <h2>{{article.title}}</h2>
        <h4>{{article.subtitle}}</h4>
      </div>
      {% for blocks in article.blocks %}
        {% include "display/display_blocks.html.twig" %}
      {% endfor %}
    </div>
  {% endfor %}
</div>  