{% for category in category %}
  <div class="category full {{category.class}}" >
    <div class="cat-info">
      <h1>{{category.name}} - {{ category.articles|length }}</h1>
      <p>{{category.description}}</p>
    </div>
    {% if category.image %}
      {# <img src="{{category.image}}" alt="{{category.name}}"> #}
    {% endif %}
    {% for article in category %}
      {% if article[0]|length > 1 %}
        {% include "display/card/card_article.html.twig" %}
      {% else %}
        {% include "display/display_articles.html.twig" %}
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}