<div class="element" >
    {% if element.tags == 'img' %}
      <img src="{{element.link}}" alt="{{element.alt}}" {% if element.class != '' %} class="{{element.class}}" {% endif %}>
    {% endif %}
    {% if element.tags == 'a' %}
      <a href="{{element.link}}" {% if element.class != '' %} class="{{element.class}}" {% endif %}> {{element.content}} </a>
    {% else %}
      <{{element.tags}} {% if element.class != '' %} class="{{element.class}}" {% endif %}> {{element.content}} </{{element.tags}}>
    {% endif %}
    <a href="element?action=delete&id={{element.id}}">Delete</a>
    <a href="element?action=read&id={{element.id}}">En savoir plus</a>
</div>