{% if element.tags == 'figure' %}
  <figure class="element {{element.class}}">
    <img src="public/src/uploads/{{element.files}}" alt="{{element.files}}" {% if element.class != '' %} class="{{element.class}}" {% endif %}/>
    <figcaption>{{element.content}}</figcaption>
  </figure>
{% elseif element.tags == 'img' %}
  <img src="public/src/uploads/{{element.files}}" alt="{{element.files}}" class="element {{element.class}}"/>
{% elseif element.tags == 'video' %}
  <video class="element {{element.class}}" controls>
    <source src="public/src/uploads/{{element.files}}" type="video/mp4">
  </video>
{% elseif element.tags == 'audio' %}
  <audio class="element {{element.class}}" controls>
    <source src="public/src/uploads/{{element.files}}" type="audio/ogg">
  </audio>
{% elseif element.tags == 'a' %}
  <a href="{{element.link}}" class="element {{element.class}}"> {{element.content}} </a>
{% else %}
  <{{element.tags}} class="element {{element.class}}" > {{element.content|raw}} </{{element.tags}}>
{% endif %}