{% extends "page.html.twig" %}

{% block content %}
	<h1>Page Régions</h1>

	<h2>Zones activées :</h2>

	{% for region, value in regions %}
		{% if value is iterable %}
			{% for subregion, subvalue in value %}
				{% if subvalue %}
					{# Générer le sous-composant ici #}
					<div>{{ subregion }}</div>
				{% endif %}
			{% endfor %}
		{% else %}
			{% if value %}
				{# Générer le composant ici #}
				<div>{{ region }}</div>
			{% endif %}
		{% endif %}
	{% endfor %}

	<h2>Plus de zones :</h2>

	<form>
		{% for region, value in regions %}
			{% if value is iterable %}
				{% for subregion, subvalue in value %}
					<div class="form-group">
						<input type="checkbox" id="{{subregion}}" {% if subvalue %} checked {% endif %}>
						<label for="{{subregion}}">{{ subregion }}</label>
					</div>
				{% endfor %}
			{% else %}
				<div class="form-group">
					<input type="checkbox" id="{{ region }}" {% if value %} checked {% endif %}>
					<label for="{{region}}">{{ region }}</label>
				</div>
			{% endif %}
		{% endfor %}
		<input type="submit" value="Enregistrer">
	</form>

{% endblock %}
