{% extends "page.html.twig" %}

{% block title %}Admin - Category{% endblock %}

{% block content %}
    <h1>Toutes les catégories ({{ category.category|length }})</h1>

    <div class="admin-panel" >
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Class</th>
                    <th>Image</th>
                    <th>Edition</th>
                </tr>
            </thead>
            <tbody>
            {% set i = 0 %}
            {% for category in category.category %}
                {% set i = i + 1 %}
                <tr id="row-{{i}}">
                    <td class='id'><a href='{{site_url}}article?id={{category.id}}'>{{category.id}}</a></td>
                    <td class='title'><div class='line-clamp'>{{category.name}}</div></td>
                    <td class='subtitle'><div class='line-clamp'>{{category.description}}</div></td>
                    <td class='class'><div class='line-clamp'>{{category.class}}</div></td>
                    <td class='image'><div class='line-clamp'>{{category.image}}</div></td>
                    <td class='link ' >
                        <a href="#" class='update'>Modifier</a>
                        <a href="{{site_url}}category?action=delete&id={{category.id}}">Supprimer</a>
                    </td>
                </tr>
                <tr id="form-{{i}}" style="display: none;">
                    <form method="POST" action="{{site_url}}category?action=update&id={{category.id}}">
                        <td class='id'>/</td>
                        <td class='title'><div class='line-clamp'><input type="text" id="name" name="name" value="{{category.name}}" required></div></td>
                        <td class='subtitle'><div class='line-clamp'><input type="textarea" id="description" name="description" value="{{category.description}}"></div></td>
                        <td class='class'><div class='line-clamp'><input type="text" id="class" name="class" value="{{category.class}}"></div></td>
                        <td class='image'><div class='line-clamp'><input type="text" id="image" name="image" value="{{category.image}}"></div></td>
                        <td class='link ' >
                            <input type="submit" value="Modifier">
                        </td>
                    </form>
                </tr>                        
            {% endfor %}
                <tr>
                    <form method="POST" action="{{site_url}}category?action=create">
                        <td class='id'>ID</td>
                        <td class='title'>
                            <div class="group-form">
                                <input type="text" id="name" name="name" placeholder="Nom" required>
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <input type="textarea" id="description" name="description" placeholder="Description">
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <input type="text" id="class" name="class" placeholder="Class">
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <input type="text" id="image" name="image" placeholder="Image">
                            </div>
                        </td>
                        <td>
                            <input type="submit" value="Créer">
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
