{% extends "page.html.twig" %}

{% block title %}Admin - Elements{% endblock %}

{% block content %}
    <h1>Tous les éléments ({{ element|length }})</h1>

    <div class="admin-panel" >
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Balise</th>
                    <th>Contenu</th>
                    <th>Text-Alternatif</th>
                    <th>Lien</th>
                    <th>Fichier</th>
                    <th>Class</th>
                    <th>Ordre</th>
                    <th>Block</th>
                    <th>Article</th>
                    <th>Edition</th>
                </tr>
            </thead>
            <tbody>
            {% set i = 0 %}
            {% for element in element %}
                {% set i = i + 1 %}
                <tr id="row-{{i}}">
                    <td class='id'><a href='{{site_url}}element?id={{element.id}}'>{{element.id}}</a></td>
                    <td class='balise'><div class='line-clamp'>{{element.tags}}</div></td>
                    <td class='content'><div class='line-clamp'>{{element.content}}</div></td>
                    <td class='alt'><div class='line-clamp'>{{element.alt}}</div></td>
                    <td class='link'><div class='line-clamp'>{{element.link}}</div></td>
                    <td class='files'><div class='line-clamp'>{{element.files}}</div></td>
                    <td class='class'><div class='line-clamp'>{{element.class}}</div></td>
                    <td class='order'><div class='line-clamp'>{{element.order_elmt}}</div></td>
                    <td class='block'><div class='line-clamp'><a href='{{site_url}}block?id={{element.id_block}}'>{{element.id_block}}</a></div></td>
                    <td class='article'><div class='line-clamp'><a href='{{site_url}}article?id={{element.id_article}}'>{{element.id_article}}</a></div></td>
                    <td class='link' >
                        <a href="#" class='update'>Modifier</a>
                        <a href="{{site_url}}element?action=delete&id={{element.id}}">Supprimer</a>
                    </td>
                </tr>
                <tr id="form-{{i}}" style="display: none;">
                    <form method="POST" action="{{site_url}}element?action=update&id={{element.id}}">
                        <td class='id'>/</td>
                        <td class='balise'><div class='line-clamp'>
                            <select name="tags" id="tags">
                                <option value="" disabled selected>Balise</option>
                                {% for tags in tags %}
                                    <option value="{{tags}}" {% if element.tags == tags %} selected {% endif %} >{{ tags }}</option>
                                {% endfor %}
                            </select>
                        </div></td>
                        <td class='content'><div class='line-clamp'><input type="text" id="content" name="content" value="{{element.content}}"></div></td>
                        <td class='alt'><div class='line-clamp'><input type="text" id="alt" name="alt" value="{{element.alt}}"></div></td>
                        <td class='link'><div class='line-clamp'><input type="text" id="link" name="link" value="{{element.link}}"></div></td>
                        <td class='files'><div class='line-clamp'>                                
                            <select name="files" id="files">
                                <option value="" disabled selected>Fichier</option>
                            {% for files in files %}
                                <option value="{{files}}" >{{ files }}</option>
                            {% endfor %}
                            </select>
                            </div>
                        </td>
                        <td class='class'><div class='line-clamp'><input type="text" id="class" name="class" value="{{element.class}}"></div></td>
                        <td class='order'><div class='line-clamp'><input type="number" min="0" max="100" id="order_elmt" name="order_elmt" value="{{element.order_elmt}}"></div></td>
                        <td class='block'><div class='line-clamp'>
                            <select name="id_block" id="id_block">
                                <option value="" disabled selected>Block</option>
                            {% for blocks in blocks %}
                                <option value="{{blocks.id}}" >{{ blocks.name }}</option>
                            {% endfor %}
                            </select>
                            </div>
                        </td>
                        <td class='article'><div class='line-clamp'>
                            <select name="id_article" id="id_article">
                                <option value="" disabled selected>Article</option>
                            {% for article in article.articles %}
                                <option value="{{article.id}}" >{{ article.title }}</option>
                            {% endfor %}
                            </select>
                            </div>
                        </td>
                        <td class='link' >
                            <input type="submit" value="Modifier">
                        </td>
                    </form>
                </tr>
            {% endfor %}
                <tr>
                    <form method="POST" action="{{site_url}}element?action=create">
                        <td>ID</td>
                        <td>
                            <div class="group-form">
                                <select name="tags" id="tags">
                                    <option value="" disabled selected>Balise</option>
                                    {% for tags in tags %}
                                        <option value="{{tags}}" {% if element.tags == tags %} selected {% endif %} >{{ tags }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <input type="text" id="content" name="content" placeholder="Contenu">
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <input type="text" id="alt" name="alt" placeholder="Texte-Alternatif">
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <input type="text" id="link" name="link" placeholder="Lien">
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <select name="files" id="files">
                                    <option value="" disabled selected>Fichier</option>
                                {% for files in files %}
                                    <option value="{{files}}" >{{ files }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <input type="text" id="class" name="class" placeholder="Class">
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <input type="number" min="0" max="100" id="order_elmt" name="order_elmt" placeholder="Ordre">
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <select name="id_block" id="id_block">
                                    <option value="" disabled selected>Block</option>
                                {% for blocks in blocks %}
                                    <option value="{{blocks.id}}" >{{ blocks.name }}</option>
                                {% endfor %}
                                </select>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="group-form">
                                <select name="id_article" id="id_article">
                                    <option value="" disabled selected>Article</option>
                                {% for article in article.articles %}
                                    <option value="{{article.id}}" >{{ article.title }}</option>
                                {% endfor %}
                                </select>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="submit" value="Créer">
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
