{% extends "page.html.twig" %}

{% block title %}Admin - Files{% endblock %}

{% block content %}

    <h1>Files ({{ files|length }})</h1>
    <div class="admin-panel" >
        <div class="files-container">
            <table class='uploads'>
                <thead>
                    <tr>
                        <th>Preview</th>
                        <th>Nom</th>
                        <th>Edition</th>
                    </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    {% set ext = file|split('.')|last %}
                    <tr>
                        {% if ext == 'jpg' or ext == 'jpeg' or ext == 'png' or ext == 'gif' or ext == 'svg' or ext == 'webp' %}
                            <td><div class='line-clamp'><img src="{{site_url}}public/src/uploads/{{ file }}" alt="{{ file }}" /></div></td>
                        {% else %}
                            <td><div class='line-clamp'><img src="{{site_url}}public/src/file.png" alt="{{ file }}" /></div></td>
                        {% endif %}
                        <td><div class='line-clamp'>{{ file }}</div></td>
                        <td class='link' >
                            <form method="POST" action="deletefile" >
                                <input type="hidden" name="file" value="{{ file }}">
                                <input type="submit" value="Supprimer">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class='files-info'>
                <p><b>Nombre de fichiers :</b> {{ files|length }}</p>
                <p><b>Taille Maximale :</b> 2MB <br> (se référer à un dev si demande particulière)</p>
                <p>Il est conseillé de renommer le fichier avec un nom explicite, sans caractère spéciaux (hors - et _) et sans espaces avant de l'upload.</p>
                <form method="POST" action="upload" enctype="multipart/form-data" >
                    <label for="fileToUpload">Nouvel upload :</label>
                    <input type="file" id="fileToUpload" name="fileToUpload" placeholder="Fichier à Upload">
                    <input type="submit" value="Créer">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
