{% extends "page.html.twig" %}

{% block title %}ReadAll{% endblock %}

{% block content %}

    <h1>ReadAll</h1>
    <form method="post" action="index.php?page=element&action=create">
            <input type="text" name="balise" value="{{element.balise}}">
            <input type="text" name="contenu" value="{{element.contenu}}">
            <input type="text" name="class" value="{{element.class}}">
            <input type="text" name="src" value="{{element.src}}">
            <input type="text" name="alt" value="{{element.alt}}">
            <input type="submit" value="Create">
    </form>
    {% if element %}
        {% for element in element %}
            {% include 'display/display_elements.html.twig' %}
        {% endfor %}
    {% elseif article %}
      <section>
        {% for article in article %}
            <article class="article--full">
                <h1 class="article__title">{{ article.h1 }}</h1>
                {% if article.h2 %}
                    <h2 class="article__subtitle">{{ article.h2 }}</h2>
                {% endif %}
                {% if article.elements %}
                    {% for element in article.elements %}
                        {% include 'display/display_elements.html.twig' %}
                    {% endfor %}
                {% else %}
                    <p>Aucun contenu existant pour cet article</p>
                {% endif %}
                <p class="author" > {{ article.auteur }} </p>
            </article>
        {% endfor %}
      </section>
    {% elseif categorie %}
      <section>
        {% for categorie in categorie %}
          <article>
            <h1>{{ categorie.nom }}</h1>
            <p>{{ categorie.description }}</p>
            <a href="index.php?page=categorie&action=read&id={{ categorie.id_categorie }}">Decouvrir</a>
            {# <img src="{{categorie.image}}" alt="{{categorie.nom}}"> #}
          </article>
        {% endfor %}
      </section>
    {% else %}
        <p>Aucun articles existant</p>
    {% endif %}
{% endblock %}
