{% extends "page.html.twig" %}

{% block title %}ReadOne{% endblock %}

{% block content %}

    <h1>ReadOne</h1>
    {% if element %}
        {% if element.balise %} 
            {% if element.balise == 'img' %}
                <img src="{{element.src}}" alt="{{element.alt}}" {% if element.class != '' %} class="{{element.class}}" {% endif %}>
            {% endif %}
            <{{element.balise}} {% if element.class != '' %} class="{{element.class}}" {% endif %}> {{element.contenu}} </{{element.balise}}>
        {% endif %}
    {% elseif article %}
        {% if article.article.h1 %} 
            <h1>{{article.article.h1}}</h1>
            {% if article.article.h2 %}
            <h2>{{ article.article.h2 }}</h2>
            {% endif %}
            {% if article.elements %}
                {% for element in article.elements %}
                    {% include 'affichage/affichage_elements.html.twig' %}
                {% endfor %} 
            {% endif %}
        {% endif %}
    {% elseif categorie %}
        <h1> {{ categorie.categorie.nom }} </h1>
        <p>{{ categorie.categorie.description }}</p>
        {# <img src="{{categorie.categorie.image}}" alt="{{categorie.categorie.nom}}"> #}
        {% if categorie.article %}
          {% for article in categorie.article %}
              <h2>{{ article.h1 }}</h2>
              {% if article.h2 %}
              <h3>{{ article.h2 }}</h3>
              {% endif %}
              {% if article.elements %}
                  {% for element in article.elements %}
                      {% include 'affichage/affichage_elements.html.twig' %}
                  {% endfor %} 
              {% endif %}
          {% endfor %}
        {% else %}
          <p>Aucun article à afficher</p>
        {% endif %}
    {% else %}
        <p>Aucun contenu à afficher</p>
    {% endif %}
{% endblock %}
