{% extends "page.html.twig" %}

{% block title %}{{site_name}}{% endblock %}

{% if category %}
  {% block head %}
    {% for element in category.category %}
      <link rel="preload" as="image" href="{{site_url}}public/src/uploads/{{element.layer1}}" />
      <link rel="preload" as="image" href="{{site_url}}public/src/uploads/{{element.layer2}}" />
      <link rel="preload" as="image" href="{{site_url}}public/src/uploads/{{element.layer3}}" />
    {% endfor %}
  {% endblock %}
{% endif %}

{% block content %}
    {% if element %}
      {% for element in element %}
        {% include "display/display_elements.html.twig" %}
      {% endfor %}
    {% elseif article %}
      {% include "display/display_articles.html.twig" %}
    {% elseif category %}
      {% include "display/display_category.html.twig" %}
    {% elseif blocks %}
      {% for blocks in blocks %}
        {% include "display/display_blocks.html.twig" %}
      {% endfor %}
    {% else %}
        <p>Rien à afficher</p>
    {% endif %}
{% endblock %}
